<header >
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark goto-pimery-shade">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">GOTO</a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/customer" mdbWavesEffect>Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/pricing" mdbWavesEffect >Pricing</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
</header>
